// Color variables
$color-main: #df6951;

$color-grey: #5e6282;
$color-grey-shade--1: #181e4b;
$color-grey-shade--2: #080809;
$color-greys-shade--3: #212832;
$color-grey-tint--1: #f7f7f7;

$color-accent--yellow: #f1a501;
$color-accent--purple: #8a79df;
$color-accent--purple-tint: #dfd7f9;

@mixin box-shadow {
}

@mixin section-header {
  text-align: center;
  span {
    display: inline-block;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 5rem;
    margin-bottom: 6.5rem;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all 0.5s ease;
}
*:hover {
  transition: all 0.3s ease;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", serif;
  color: $color-grey;
  background-color: #fff;

  line-height: 1;
}

.container {
  max-width: 120rem;
  margin: auto;
}

section,
header.main {
  margin-bottom: 19.2rem;
  padding: 0 2rem;
}

.subtitle {
  display: block;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: $color-grey;
}

h1,
h2 {
  font-weight: 700;
  font-family: "Volkhov", sans-serif;
  color: $color-grey-shade--1;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}
button,
a {
  cursor: pointer;
}
.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.lazy-loading {
  filter: blur(10px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reverse-rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// media Queries
// 1200px
@mixin br-el {
  @media screen and (max-width: 75em) {
    @content;
  }
}
