.cta {
  position: relative;
  &__container {
    overflow: hidden;
    &::after {
      animation: reverse-rotate 20s linear infinite;
      transform: rotate(-100deg);
      z-index: -1;
      content: "";
      display: block;
      width: 28.4rem;
      height: 29rem;
      background-image: url("../../assets/backgrounds/cta-circle.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      color: #fff;
      opacity: 0.07;
      top: -15%;
      right: -5%;
    }
    &::before {
      animation: rotate 20s linear infinite;
      z-index: -1;
      content: "";
      display: block;
      width: 39.7rem;
      height: 38.9rem;
      background-image: url("../../assets/backgrounds/cta-circle.svg");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      color: #fff;
      opacity: 0.07;
      bottom: -30%;
      left: 2%;
    }
    background: rgba(223, 215, 249, 0.2);
    border-radius: 13rem 2rem 2rem 2rem;
    text-align: center;
    padding: 7rem 14rem;
    position: relative;

    img {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(30%, 0%);
    }
  }

  &__form {
    &--title {
      font-weight: 600;
      font-size: 3.3rem;
      line-height: 5.4rem;
      margin-bottom: 7rem;
    }

    &--container {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 2.4rem;
    }

    &--input-container {
      border-radius: 1rem;
      min-height: 6.8rem;
      background-color: #fff;

      width: 42rem;
      display: flex;
      align-items: center;
      padding: 2.5rem;

      gap: 1.4rem;
    }
    input {
      width: 100%;
      font-family: "Montserrat";
      font-style: normal;
      color: #39425d;

      font-size: 1.6rem;

      &::placeholder {
        font-size: 1.6rem;
      }
    }
    button {
      background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
      border-radius: 1rem;
      width: 18rem;
      min-height: 6.8rem;
      display: inline-block;

      color: #fff;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 1.7rem;
    }
  }
}
