.cta {
  &__container {
    background: rgba(223, 215, 249, 0.2);
    border-radius: 13rem 2rem 2rem 2rem;
    text-align: center;
    padding: 7rem 14rem;
    position: relative;

    img {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(30%, -30%);
    }
  }

  &__form {
    &--title {
      font-weight: 600;
      font-size: 33px;
      line-height: 54px;
      margin-bottom: 7rem;
    }

    &--container {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 2.4rem;
    }

    &--input-container {
      border-radius: 1rem;
      max-width: 42rem;
      height: 6.8rem;
      background-color: #fff;

      display: flex;
      align-items: center;
      padding: 2.5rem;

      gap: 1.4rem;
    }
    input {
      font-family: "Montserrat";
      font-style: normal;
      color: #39425d;

      font-size: 1.6rem;
      width: 40rem;

      &::placeholder {
        font-size: 1.6rem;
      }
    }
    button {
      background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
      border-radius: 1rem;
      width: 18rem;
      height: 6.8rem;
      display: inline-block;

      color: #fff;
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 17px;
    }
  }
}
