header.main {
  &.sticky {
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    width: 100%;
  }
  z-index: 999;
  .nav {
    width: 100%;
    color: $color-greys-shade--3;
    padding: 2.5rem 1.8rem;
    display: flex;
    justify-content: space-between;

    &__logo-container {
      .nav__logo {
        width: 11.5rem;
      }
    }

    &__menu {
      align-items: center;
      display: flex;
      gap: 4rem;

      &-item {
        cursor: pointer;

        &--language {
          @include flex-center;
          gap: 0.65rem;

          .nav__menu-arrow-icon {
            width: 1rem;
            height: auto;
          }
        }

        &--signup {
          padding: 1rem 2rem;
          border: 0.1rem solid $color-greys-shade--3;
          border-radius: 0.5rem;
        }
      }
    }
  }
}
