.testimonial {
  margin-bottom: calc(13rem + 9.6rem);
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    gap: 8.4rem;
  }

  &__header {
    span,
    h2 {
      text-align: left;
      margin-bottom: 0.8rem;
    }
    h2 {
      font-size: 5rem;
      text-transform: capitalize;
      margin-bottom: 8rem;
    }
    &--dots {
      display: flex;
      gap: 2.5rem;
      .dots__dot {
        width: 1.2rem;
        height: 1.2rem;
        background-color: #e5e5e5;
        cursor: pointer;
        border-radius: 50%;
        &.dots__dot--active {
          background-color: #39425d;
        }
      }
    }
  }

  &__slider {
    position: relative;
    width: 50rem;

    &--slide {
      opacity: 0;

      text-align: left;
      padding: 3.5rem 6.8rem 3.5rem 3.5rem;
      background: #ffffff;
      @include box-shadow;
      border-radius: 1rem;

      position: absolute;
      top: 0;
      left: 0;

      transition: opacity 0.7s ease, transform 1s ease;

      &.active {
        z-index: 1;
        opacity: 1;
        display: block;
        transform: translate(-5rem, -7.5rem);
      }
      &.next {
        z-index: 0;
        opacity: 1;
        display: block;
        background-color: #fff;
        box-shadow: none;
        border: 0.2rem solid $color-grey-tint--1;
      }
    }

    &--img {
      position: absolute;
      top: -4rem;
      left: -2.5rem;
      width: 6.8rem;
      height: 6.8rem;
      border-radius: 100%;
    }

    &--content {
      .testimonial__comment {
        line-height: 3.2rem;
        margin-bottom: 3.5rem;
      }
      .testimonial__name {
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }
    }
  }
  &__arrows {
    svg {
      cursor: pointer;
      stroke: #bcb7c2;
      &:hover {
        stroke: #3e2e4d;
      }
    }
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    justify-content: flex-end;
    height: 100%;
  }
}
